Package: testpackage
Version: 0.2-1
Architecture: all
Maintainer: MATEO SIERRA <mateo.sierra@c3.itm.edu.co>
Installed-Size: 31
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: empaquetamiento tp2
 Control de las versiones desde el devianizado
